@import "editor/gallery-item";
@import "editor/gallery-item-menus";
@import "editor/gallery-item-link";
@import "editor/radius";
@import "editor/flickity-arrows";
@import "editor/core-themes";

.skt-blocks-gallery {
  margin: 0;

  .components-resizable-box__handle {
    z-index: 9999;
  }
}

// Fix overflowing appender outline
[data-type*="skt-blocks/gallery"] .is-appender {
  outline-offset: -1px;
}
